
https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible#focus_vs_focus-visible

Caret Color
https://developer.mozilla.org/en-US/docs/Web/CSS/caret-color

Background Repeat
https://developer.mozilla.org/en-US/docs/Web/CSS/background-repeat

scroll-snap
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_scroll_snap

text-wrap
https://developer.mozilla.org/en-US/docs/Web/CSS/text-wrap

column-rule
https://developer.mozilla.org/en-US/docs/Web/CSS/column-rule

text-underline-offset
https://developer.mozilla.org/en-US/docs/Web/CSS/text-underline-offset

text-decoration-line
https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-line

will-change
https://developer.mozilla.org/en-US/docs/Web/CSS/will-change

drop-shadow
https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow

:any-link
https://developer.mozilla.org/en-US/docs/Web/CSS/:any-link

:empty
https://developer.mozilla.org/en-US/docs/Web/CSS/:empty

:not(:last-child)
https://developer.mozilla.org/en-US/docs/Web/CSS/:not

<iframe width="100%" height="500px" src="https://code-from-screenshot-lmuw6mcn3q-uc.a.run.app/"frameborder="0"allow="clipboard-read; clipboard-write"></iframe>