twistedSphere2&.focus:focus {
  outline: 5px solid Highlight;
}

&.focus-visible:focus-visible {
  outline: 5px solid Highlight;
}

svg {
  &.box {
    box-shadow: 5px 5px red;
  }

  &.drop {
    filter: drop-shadow(5px 5px red);
  }
}


transform: scaleX(-1);

.box p {
  max-width: 20rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}